<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Recipe List</title>
</head>
<div class="mainimage">
    <nav class="indexnav">
        <a href="/recipes/new">Add a New Recipe</a>
    </nav>

    <body>
        <div class="indexbody">
        <h1 class="Indexh1">Welcome to Chili Lab</h1>
        <div class="infocontainer">
            <p>Greetings! Welcome to Chili Lab! We are a growing collective of friends in downtown Austin that get together a few times a month to hangout and make delicious food</p>
            <p>Though we originally set out to perfect recipes for chili, we decided to branch out and conquer all things edible. Feel free to sign up and submit your own recipe for a chance to be featured on our website!</p>
        </div>
        
            <ul>
                <% recipes.forEach(recipe=> { %>
                    <li>
                        <div class="indexcontainer">
                            <form action="/recipes/<%=recipe._id; %>">
                                <input class="indextitle" type="submit" value="<%=recipe.title; %>" />
                            </form>
                                <%if(recipe.img != null) { %>
                                    <img src= "<%=recipe.img; %>" width="150" height="200">  
                               <% } %>
                                    
                                    <div class="indexbutton">
                                    <form action="/recipes/<%=recipe.id %>?_method=DELETE" method="POST">
                                        <input class="indexinput" type="submit" value="DELETE" />
                                    </form>
                                    <form action="/recipes/<%=recipe._id %>/edit">
                                        <input class="indexinput" type="submit" value="EDIT">
                                    </form>
                                    </div>
                        </div>
                    </li>
                    <% }) %>
            </ul>
        </div>
    </body>
</div>

</html>